<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%# Not the recommended way to link %>
    <!-- <a href="<%= contact_path %>">Contact Us</a> -->
    <%# link_to is a built-in Rails view helper that generates %>
    <%# an anchor tag <a>.%>
    <%# The first argument is the anchor text, the 2nd argument is the%>
    <%# path or url, and then it takes a hash of options%>
    <%= link_to "Home", root_path, style: "color:turquoise" %>
    <%= link_to "Subscribe", subscribe_path, style: "color:turquoise" %>
    <%= link_to "Contact Us", contact_path, style: "color:turquoise" %>
    <!-- equivalent to: <a href=contact_path style="color:turquoise">Contact Us</a> -->
    <%# <%= link_to "Google", "http://www.google.com", {target: "_blank"}%>
    <%= link_to "New Question", new_question_path %>
    <%= link_to "All Questions", questions_path %>

  </nav>

<%= yield %>
</body>
</html>


